@charset "utf-8";
/* CSS Document */
 
body {
    font-family: "Lato", sans-serif;
    background-color: AntiqueWhite;
    height: 1080px;
}
 
/*侧边栏选择器*/
.sidenav {
    height: 100%;
    width: 210px; /*原始宽度*/
    position: fixed;
    /*z-index、top、left共同控制侧栏的悬浮（上方1，下方-1）*/
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
}
 
/*主体内容*/
#main {
    margin-left: 210px;
    padding: 0px 16px 16px 16px;
}

#main #banner{
    background-color: LightSkyBlue;
    border: 3px solid red;
    height: 100px;
    position: relative;
}

#pageContent{
    height:1080px;
}

#flipClock {
    position: absolute;
    top: -6px;
    right: -56px;
    height: 100px;
    width: 500px;
    transform: scale(0.8);
}
 
/*侧边栏标签选择器*/
.sidenav a, span{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    left: 0px;
}
 
/*侧栏标签和关闭按钮光标的效果*/
.sidenav a:hover{
    color: #f1f1f1;
}

.sidenav span:hover{
    color: #f1f1f1;
}

ul, li{
    padding: 0;
    margin: 0;
}

.L2Title{
    padding: 0px 0px 0px 26px;
    display: block;
}